div{
    border-radius:5px;
    }
   
#header {
	width: 100%;
}

.left {
	
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color:#A9A9A9;
}
.right {	
	margin-top: 50px;
	width: 60%;
	height: 400px;
	background-color: #C0C0C0;
	margin-bottom: 10px;
}
#footer {
	
	height: 50px;
	background-color: #D2B48C;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

    
